<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Reserva</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <h1>Modificar Reserva</h1>
    <h3>Codo a Codo</h3>
    <div id="app">
        <form @submit.prevent="obtenerProducto">
            <label for="destino">Destino:</label>
            <input type="text" v-model="destino" required><br>
            <button type="submit">Modificar Reserva</button> <a href="index.html">Menu principal</a>
        </form>

        <div v-if="mostrarDatosProducto">
            <h2>Datos de reserva</h2>
            <form @submit.prevent="guardarCambios">
                <label for="destinoModificar">Destino:</label>
                <input type="text" id="destinoModificar" v-model="destino" required><br>

                <label for="inicioModificar">Inicio:</label>
                <input type="number" id="inicioModificar" v-model="inicio" required><br>

                <label for="finalModificar">Final:</label>
                <input type="number" id="finalModificar" v-model="final" required><br>

                <label for="diasModificar">Dias:</label>
                <input type="number" id="diasModificar" v-model="dias" required><br>

                <label for="precioModificar">Precio:</label>
                <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

                <!-- Imagen actual del producto -->
                <img v-if="imagen_url && !imagenSeleccionada" :src="'./static/imagenes/' + imagen_url"
                    alt="Imagen del producto" style="max-width: 200px;">

                <!-- Vista previa de la nueva imagen seleccionada -->
                <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                    style="max-width: 200px;">

                <!-- Input para nueva imagen -->
                <label for="nuevaImagen">Nueva Imagen:</label>
                <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

                <label for="proveModificar">proveedor:</label>
                <input type="number" id="proveModificar" v-model="proveedor" required><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"

        const app = Vue.createApp({
            data() {
                return {
                    destino: '',
                    inicio: '',
                    final: '',
                    dias: '',
                    precio: '',
                    proveedor: '',
                    imagen_url: '',
                    imagenUrlTemp: null,
                    mostrarDatosProducto: false,
                };
            },
            methods: {
                obtenerProducto() {
                    fetch(URL + 'productos/' + this.destino)
                        .then(response => response.json())
                        .then(data => {
                            this.inicio = data.inicio;
                            this.final = data.final;
                            this.dias = data.dias;
                            this.precio = data.precio;
                            this.proveedor = data.proveedor;
                            this.imagen_url =  data.imagen_url;
                            this.mostrarDatosProducto = true;
                        })
                        .catch(error => console.error('Error:', error));
                },
                seleccionarImagen(event) {
                    const file = event.target.files[0];
                    this.imagenSeleccionada = file;
                    this.imagenUrlTemp = URL.createObjectURL(file); // Crea una URL temporal para la vista previa
                },
                guardarCambios() {
                    const formData = new FormData();
                    formData.append('destino', this.destino);
                    formData.append('inicio', this.inicio);
                    formData.append('final', this.final);
                    formData.append('dias', this.dias);
                    formData.append('proveedor', this.proveedor);
                    formData.append('precio', this.precio);

                    if (this.imagenSeleccionada) {
                        formData.append('imagen', this.imagenSeleccionada, this.imagenSeleccionada.name);
                    }

                    fetch(URL + 'productos/' + this.destino, {
                        method: 'PUT',
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert('Producto actualizado correctamente');
                            this.limpiarFormulario();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error al actualizar el producto');
                        });
                },
                limpiarFormulario() {
                    this.destino = '';
                    this.inicio = '';
                    this.final = '';
                    this.dias = '';
                    this.precio = '';
                    this.imagen_url = '';
                    this.imagenSeleccionada = null;
                    this.imagenUrlTemp = null;
                    this.mostrarDatosProducto = false;
                }
            }
        });

        app.mount('#app');
    </script>

</body>
</html>